.container_todoItem {
    background-color: lightsalmon;
    width: 90%;
    min-height: 50px;
    // max-height: 150px;
    margin-bottom: 20px;
}

.todoText {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoDetailsMenu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;

    input {
        width: 30px;
        height: 30px;
    }

    label {
        margin-right: 5px;
    }
}

.todoProgressCheck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoDoneCheck {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: transform 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.container_modify {
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .inputModify {
        width: 100%;
        padding: 5px 0;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
    }
    .container_btn_modify_cancel {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .btnModify {
            padding: 6px 15px;
            border-radius: 10px;
            cursor: pointer;
        }
        .btnCancel {
            padding: 6px 15px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
