.btn {
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-delete-todo {
    border: 2px solid var(--error);
    color: var(--text-color);
    background-color: white;
    transition: 0.5s all;

    &:hover {
        background-color: var(--error);
        color: white;
        border: 2px solid var(--error);
        opacity: 0.8;
    }
}

.btn-reverse-primary {
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background-color: white;
    transition: 0.5s all;

    &:hover {
        background-color: var(--secondary);
        color: white;
        border: 2px solid var(--secondary);
        opacity: 0.8;
    }
}

.card {
    border-radius: 20px;
    background-color: var(--gray-2);
    box-shadow: var(--box-shadow);
}
